body {
 background-image: url("xpbackground.jpg");
 background-size: cover;
  position: relative;
}
.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
.fix{
    position:fixed;
    bottom:0px;
    left:30%;
    right:50%;
}
